<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <form action ="/create" method ="POST" name = "create">
        <button type="submit" ></button>
        </form>
       
    </body>
</html>